<div style="margin-top: 100px;">
    <!--spacer-->
</div>

<div fxLayout>
    <mat-card fxFlex="80" fxFlexOffset="10" class="mat-elevation-z5">
        <div fxLayout fxLayoutAlign="space-between">
            <div fxFlex>
                <img [src]="angularImage" style="width: 100; height:90px">
            </div>
            <div fxFlex fxFlexAlign="center">
                <div fxLayout fxLayoutAlign="end" fxLayoutGap="30px">
                    <div>
                        <div style="font-size: 20px;font-weight: 550; font-family: cursive; padding: 5px;">Angular & Typescript</div>
                        <div  >Welcome Back: <span style="font-style:italic; font-size: 16px;">{{name}}</span></div>
                    </div>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>
        <div style="margin-top: 20px;">
            <!--spacer-->
        </div>

<ng-container *ngIf="!endQuiz">
    <div fxLayout fxLayoutAlign="space-evenly">
        <div>Question {{currentQuestionIndex+1}} of {{questions?.length}}</div>
        <div>
            <mat-icon>timer</mat-icon>
            Remaining  {{timer}} secs
        </div>

        <!-- <div>
        
           <button mat-raised-button >     <mat-icon>timer</mat-icon> DONE</button>
        </div> -->
    </div>

    <div style="margin-top: 20px;">
        <!--spacer-->
    </div>
 
    <div><mat-progress-bar mode="determinate" [value]="progressCount"></mat-progress-bar></div>

    <div *ngIf="questions">
        <app-question [question]="questions[currentQuestionIndex]"></app-question>
    </div>


    <div fxLayout fxLayoutAlign="space-evenly" *ngIf="questions">
        <button mat-icon-button color="primary" (click)="prev()" [disabled]="currentQuestionIndex<=0">
            <mat-icon style="font-size: 30px;">arrow_back_ios_new</mat-icon>
          </button>

          <button mat-icon-button color="primary" (click)="reset()" >
            <mat-icon style="font-size: 30px;">refresh</mat-icon>
          </button>

          <button mat-icon-button color="primary" (click)="next()" [disabled]="!(this.currentQuestionIndex <= this.questions.length-1)">
            <mat-icon style="font-size: 30px;">arrow_forward_ios</mat-icon>
          </button>
    </div>
</ng-container>

{{endQuiz}}
        <ng-container *ngIf="endQuiz">
            <div fxLayout fxLayoutGap="10" *ngIf="questions">
                <div fxFlex="30">
                    <img [src]="celebrationImage" style="width: 80px; height:50px ;" alt="celebration" fxFlexFill>
                </div>
                <div fxFlex="60">
                    <div style="font-family:cursive; font-size: 30px; font-weight: 500;padding: 5px;">Congragulations!! You have completed the quiz.</div>
                    <h4>Below is yout result:</h4>
                    <p>Total Questions Attempted: {{questions.length}} </p>
                    <p>Total correct Answered: {{getTotalCorrect().length}} </p>
                    <p>Total Questions Missed due to elapsed time: {{getMissedTotal().length}} </p>
                    <p>Total Wrong Answered: {{getTotalWrong().length}} </p>
                    <p>Your Score : {{percentageScore()}}</p>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <!--spacer-->
            </div>

            <div fxLayout fxLayoutAlign="space-evenly">
                <button mat-icon-button  (click)="reset()" >
                    <mat-icon >refresh</mat-icon>
                  </button>

                  <button mat-icon-button >
                    <mat-icon>read_more</mat-icon>
                    More result summary
                  </button>
            </div>
        </ng-container>
    </mat-card>
</div>